<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="winzigc-test-suite">
    <test name="winzigc-tests" parallel="true">
        <classes>
            <class name="io.cse.winzigc.ScannerTest"/>
            <class name="io.cse.winzigc.ScreenerTest"/>
            <class name="io.cse.winzigc.TreeTest"/>
        </classes>
    </test>
</suite>
